body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
}
html, body, main {
    height:100%
}

header, footer {
    /* background-color: hsl(99, 63%, 67%); */
    background-color: lightgrey;
    text-align: center;
}
header { 
    border-bottom: 1px solid #999;
}
    header h1 {
        margin: .67em 0 0 0;
    }
    header p { margin: 0 0 20px; }
footer { 
    border-top: 1px solid #999;
}

main {
    margin: 0 20px;
    display: flex;
    align-items: flex-start;
}
    nav {
        /* flex: 0 1 270px; */
        /* flex-basis: 270px; */
        /* height:96%; */
        height:100%;
        display: inline-block;
        /* overflow-y: scroll; */
    }
    nav ol { padding: 0 40px 0 30px;}
        nav a { 
            text-decoration: none; 
            color: #333;
            /* transition: all .2s ease-in-out; */
        }
        nav a:hover {
            /* text-decoration: underline; */
            color: green;
            font-weight: bold;
        }
        nav a.active {
            /* color: #c00; */
            font-weight: bold;
            color: green;
            /* text-decoration: none; */
    }
    .content-container {
        flex-grow: 1;
        align-self: stretch;
        width: 100%;
    }
        .content-container h2 {
            margin: 10px 0 0 10px;;
            height: 1.4em;
        }
        .content-container iframe {
            width: 100%;
            /* height: 92%; */
            height: 100%;
            border: none;
       }
