html { font-size: 16px; height: 90%; min-height: 580px; 
    /* height: 100% */
}
body * { box-sizing: border-box; }
a { transition: all .15s ease-in-out;}
div { margin: 0; padding: 0; }
body { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    background-color: #666;
    color: #cccccc;
    /* margin: 1em; */
    margin: 0;
    padding: 0;
    /* display: flex;
    flex-direction: column; */
    height: 100%;
    transition: all .3s ease-in-out;
    position: relative;
    overflow-x:  hidden;
}
h1 {
    /* margin: 10px 0; */
    margin: 0;
    padding: 16px 0 10px;
}
h2 {
    margin: 0 0 14px; 
    font-size: 1.25em; /* 20px/16px */
}
code { font-family: Consolas, monospace; }
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
    background: none;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border: 2px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.splash-container {
    position: absolute;
    /* width: 100%;
    height: 100%; */
    z-index: -10;
    display: flex;

}
.splash {
    /* margin: 10%; */
    width: 100%;
    /* height: 100%; */
    background-color: #eee;
}
.toc {
    position: absolute;
    width: 300px;
    height: 100vh;
    /* background-color: rgba(250,50,50,.5); */
    background-color: #eee;
    z-index: 5;
    /* margin-top: -1em; */
    margin-left: -320px;
    transition: margin-left .20s ease-out;
    /* padding: 1em; */
    color: #333;
    overflow: scroll;
}

.toc.show {
    margin-left: 0;
}
    .toc .toc-btn-close {
        position: absolute;
        top: 6px;
        right: 4px;
    }
    .toc h2 {
        margin: 0;
        padding: 16px 10px;
        background-color:rgb(177, 221, 247);
    }
    .toc ul.section-list {
        margin: 0;
        padding: 0;
    }
    .toc ul.section-list .section-item {
        /* border-bottom: 1px solid rgba(255, 49, 108, 0.1) !important; */
        border-bottom: 1px solid #ddd;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .toc a.item {
        display: block;
        color: #333;
        /* padding: 8px 14px; */
        /* padding: 11px 16px; */
        text-decoration: none;
    }
    .toc a.item:hover {
        color: rgb(112, 203, 255);
        background-color: rgba(211,211,211,.6);
    }
    .toc a.item.selected {
        color: rgb(80, 191, 255);
        background-color: rgba(211,211,211,.6);
    }
    .toc ul.section-list .section-item .title-container {
        padding: 10px 0 10px 30px;
    }

main, header {
    /* margin: 1em; */
    margin: 0;
    padding: 0 1em;
    transition: all .3s ease-in-out;
}
main { 
    /* margin:auto; */
    /* height: 75vh; */
    /* width: 90vw; */
    /* max-width: 700px; */
    /* height: 96%; */
    height: 94%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}
.sandbox-wrapper {
    flex-basis: 58%;
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding-bottom: 1px;
}
#sandbox {
    box-sizing: border-box;
    flex-basis: 95%;
    margin-bottom: .4em;
}
.page-nav {
    /* border: 1px solid gray; */
    text-align: right;
    height: 28px;
}
    .page-nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-size: .875em; /* 16px/14px */
    }
    .page-nav .right {
        float: right;
        margin-left: 6px;
    }
    .page-nav .left {
        float: left;
        margin-right: 6px;
    }
    .page-nav ul li {
        display: inline-block;
        /* background-color: #333; */
        padding: 6px 0px;
    }
    .page-nav ul li.hide {
        display: none;
    }
    /* .page-nav ul li a { */
    .page-nav a.nav-btn {
        padding: 8px 14px;
        color: darkgrey;
        text-align: center;
        text-decoration: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: #333;
        /* border-radius: 10px; */
    }
    /* .page-nav ul li a:hover { */
    .page-nav a.nav-btn:hover {
        color: #eee;
        background-color: #111;
    }
    .page-nav a.nav-btn.disabled {
        color: #555;
    }
    .page-nav a.nav-btn.disabled:hover {
        color: #555;
        background-color: #333;
        cursor: default;
    }
    .page-nav a.toggle-code-btn {
        color: #eee;
        background-color: #888;
        border: 1px solid #777;
    }
    .page-nav a.toggle-code-btn:hover {
        color: #ccc;
        background-color: #888;
    }
    .page-nav a.toggle-code-btn.show {
        color: darkgrey;
        background-color: #333;
    }
    .page-nav a.toggle-code-btn.show:hover {
        color: #ccc;
        background-color: #333;
    }

section.grid-container {
    position: relative;
    box-sizing: border-box;
    border: 8px solid #555;
    height: 100%;
    width: 100%;
    transition: height 1.4s ease-out, width 1.4s ease-out, border .1s .2s;
}
    .grid-container.solved {
        border: 10px solid #388E3C;
    }
    .guide, .guidelines {
        position: absolute;
        z-index: 1;
        box-sizing: border-box;
        /* min-height: 100%;
        min-width: 100%; */
        height: 100%;
        width: 100%;
        display: grid;
    }
        .guide>* {
            border: 8px dashed #bbb;
        }
        .guide>.dunes {
            border: 8px dashed #F99;
        }
        .guide>.rocky {
            border: 8px dashed aquamarine;
        }
        .guide>.cloudy {
            /* border: 8px dashed rgb(146, 188, 204); */
            border: 8px dashed rgb(146, 164, 204);
        }
        .guide>.lava {
            border: 8px dashed rgb(160, 64, 64);
        }
        .guidelines>div {
            border: 1px solid #eee;
        }
    .grid {
        /* position: relative; */
        height: 100%;
        width: 100%;
    }
    .target {
        /* width: 100px; */
        /* height: 100px; */
        color: #333;
        font-size: 1.25em; /* 20px/16px */
        font-weight: bold;
        /* padding: 1px; */
        border-bottom: 2px dotted gray;

        display: flex;
        justify-content: center;
        align-items: center;
    }   
        .target:nth-of-type(1) {
            background-color: #7f7f7f;
            /* background-color: #777; */
        }
        .target:nth-of-type(2) {
            background-color: #999;
            /* background-color: #858585; */
            /* background-color: #8f8f8f; */
        }
        .target.dunes {
            background-color: lightcoral;
        }
        .target.rocky {
            background-color: rgb(100, 201, 165);
        }
        .target.cloudy {
            background-color: rgb(100, 107, 201);
        }
        .target.lava {
            background-color: darkred;
        }

        /* .target.zombie { 
            height: 200px;
            background-image: url('../images/zombie-male.png');
            color: #eee;
        }
        .target.goo {
            background: url('../images/goo.png') no-repeat;
            background-size: 100% 100%;
            color: #eee;
        }
        .target.dave {
            height: 200px;
            width: 150px;
            color: #eee;
            background-color: #c33
        } */
.control-container {
    flex-basis: 40%;
    min-width: 380px;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-right: 16px;
}   
    .ta-code-editor, .div-code-display, .instructions {
        /* flex-basis: 32%; */
        border: 1px solid darkgray;
        margin: 0;
        padding: 0.8em 1em;
        background-color: darkslategrey
    }
    .ta-code-editor, .div-code-display {
        flex-basis: 24%;
        font-family: Consolas, monospace;
        font-size: .8125em; /* 13px/16px */
        font-weight: 400;
        background-color: #333;
        tab-size: 2;
            -moz-tab-size: 2;
            -o-tab-size: 2;
        min-height: 98px;
    }
    .hide { display: none; }
    .instructions {
        flex-basis: 50%;
        font-size: .875em; /* 14px/16px */
        position: relative;
        margin-bottom: .4em;
    }
        .instructions h2 {
            font-size: 1.428571em; /* 20px/14px */
            /* text-decoration: underline; */
            border-bottom: 1px solid;
        }
        .instructions .toc-btn {
            position: absolute;
            top: 0.8em;
            right: 1em;
        }
        .instructions em {
            color: lightcoral;
            color: #ae81ff;
            color: #A6E22E; 
            font-style: normal;
        }
        .instructions code {
            color: #66D9EF;
            font-size: .928571em; /* 13px/14px */
        } 
        .instructions .code {
            color: lightcoral;
            font-size: .923077em; /* 12px/13px */
            /* margin: 20px; */
            background-color: #333;
            padding: .5em .5em .8em;
            border: 1px solid grey;
        }
            .instructions .code code {
                /* color: darkgrey; */
                color: palegoldenrod;
                white-space: pre-wrap;
                tab-size: 2;
                    -moz-tab-size: 2;
                    -o-tab-size: 2; 
            }
                .instructions .code code em {
                    color: lightcoral;
                }
                .instructions .code .answer code {
                    color: #66D9EF;
                    color: #dadb6e;
                    color: #A6E22E;
                }
        .inst-btn  {
            color: #fff;
            background-color: #999;
            border: 1px solid #777;
            padding: 3px 10px;
            text-decoration: none;
            font-size: .857143em; /* 12px/14px */
            
        }
        .inst-btn:hover, .inst-btn:active { color: #ccc; background-color: #666;}
        .inst-btn.disabled {color: #ccc; background-color: #666; cursor: default; }
        .instructions .right { text-align: right; /*margin-right: 20px;*/ }
        .left { text-align: left; }
        .answer { 
            transition: visibility .3s ease-out, opacity .3s ease-out;
        }
        .answer.hide { visibility: hidden; opacity: 0; display: unset; }
        .answer.show { visibility: visible; opacity: 1; }
        .answer code {
            white-space: pre-wrap;
            tab-size: 2;
                -moz-tab-size: 2;
                -o-tab-size: 2;
        }
    .ta-code-editor {
        color: #66D9EF;
        resize: none;
        color: lightgrey;
        background-color: rgb(20, 20, 20);
        margin-bottom: .4em;
        }
    .div-code-display {
        color: #FFF;
        word-wrap: normal;
        white-space: pre-wrap;
        /* cursor: not-allowed; */
        cursor: default;
    }
    .mce-line { color: #fff; }
    .mce-selector { color: #A6E22E; }
    .mce-element { color: #F92672; }
    .mce-property { color: #66D9EF; font-style: italic; }
    .mce-constant { color: #66D9EF; }
    .mce-keyword { color: #F92672; }
    .mce-number { color: #ae81ff; }
    .mce-quotes { color: #dadb6e; }
    .mce-function { color: #FD971F;}
    /* .mce-comment { color: rgb(255, 118, 248); } */
    .mce-comment { color: gray !important; }

@media screen and (max-width: 768px) {
    html { height: initial; }
    main { display: block; height: 100%; }
    .control-container { min-width: 270px; max-width: 100%; margin-right: 0; height: 100%;}
    .sandbox-wrapper { margin-top: .4em; height: 70%; margin-bottom: .4em;}
    #sandbox { height: 450px; flex-basis: unset; }
}

@media screen and (max-width: 480px) {
    html { font-size: 14px; }
    /* body { margin: 8px; } */
    /* main, header { margin: 0; } */
    .toc { width: 260px; margin-left: -280px; }
    /* .toc.show { margin-left: -8px; } */
    .page-nav a.nav-btn { padding: 8px 10px; }

}