html { font-size: 16px; }
body { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    background-color: #666;
    margin: 2em;
}
main { 
    /* margin:auto; */
    height: 75vh;
    width: 90vw;
    max-width: 700px;
}
section.grid-container {
    position: relative;
    border: 2px dashed #ccc;
    height: 100%;
    width: 100%;
    transition: height 1.4s ease-out, width 1.4s ease-out;
}
    section.flex-container.expand {
        min-height: 80vh;
        min-width: 80vw;
    }
    section.flex-container.shrink {
        height: 250px;
        width: 400px;
    }
.guide {
    position: absolute;
    z-index: 1;
    min-height: 100%;
    min-width: 100%;
    display: grid;
}
    .guide>.dunes {
        border: 8px dashed #F99;
    }
    .guide>.rocky {
        border: 8px dashed aquamarine;
    }
.target {
    /* width: 100px; */
    /* height: 100px; */
    /* background-color:aquamarine; */
    background-color: #ccc;
    /* border: 8px dashed #ccc; */
    /* margin: .6rem; */
    box-sizing: border-box;
    font-size: 4em;

    display: flex;
    justify-content: center;
    align-items: center;
}
    .target.dunes {
        background-color: lightcoral;
        /* border: 8px dashed rgb(199, 107, 107); */
    }
    .target.rocky {
        /* background-color:aquamarine; */
        background-color: rgb(100, 201, 165)
        /* border: 8px dashed rgb(100, 201, 165); */
    }


    .target.zombie { 
        height: 200px;
        background-image: url('../images/zombie-male.png');
        color: #eee;
    }
    .target.goo {
        background: url('../images/goo.png') no-repeat;
        background-size: 100% 100%;
        color: #eee;
    }
    .target.dave {
        height: 200px;
        width: 150px;
        color: #eee;
        background-color: #c33
    }
.control-container {
    display: flex;
    justify-content: space-between;
    /* flex-basis: 50%; */
}
    .control-container>fieldset {
        box-sizing: border-box;
        margin: 1em 5px 0 0;
        padding: 0 10px 0 0;
        border: none;
        width:100%;
        -webkit-margin-start: 0;
        -webkit-margin-end: 5px;
        -webkit-padding-before: 0;
        -webkit-padding-start: 0;
        -webkit-padding-end: 0;
        -webkit-padding-after: 0;
    }
        .control-container>fieldset.controls>textarea.ta-code-editor {
            max-width: 340px;
            width: 98%;
            height: 90px;
            padding: 0.5em;
            font-weight: 500;
            color: #66D9EF;
            background-color: #333;
        }
    .control-container>div.code-editor {
        font-family: "Source Code Pro", monospace;
        font-size: 13.333333px;
        font-weight: 500;
        border: 1px solid darkgray;
        box-sizing: border-box;
        margin: 1em 1em 5px 0;
        padding: 0.5em;
        width: 100%;
        /* height: 100px; */
    }